<div class="container">
<div class="bid">
  <%= simple_form_for @bid, url: "/auctions/#{@bid.auction_id}/bids"  do |f| %>
    <%= f.input :price, placeholder: "Your bid goes here..." %>
    <%= f.button :submit, 'Bid!'%>
  <% end %>
</div>
  <%= render partial: 'partial/auction', locals: {auction: @bid.auction} %>
</div>
